.Item  span{
    padding: 10px 10px;
    font-size: 1.8em;
}
.Item  span:hover {
    cursor:pointer; 
}

.Item {
    text-align: center;
}

.Flex {
    display: flex;
    justify-content: space-between;
}
.Flex div {
    margin: 0 20px; 
}

.Day{
    font-weight: 400;
    font: 2em 'Audiowide', sans-serif;  
}
.Meal:first-line{
    font: 1.5em 'Changa', sans-serif;
}

@media screen and (max-width: 1024px){
    .Item  span{
        font-size: 1.5em;
    }
}
@media all and (max-height: 760px), all and (max-width: 720px){
    .Day{
        font-size: 1.3em;
    }
    .Item  span{
        font-size: 1.3em;
    }
}

